<div class="match-card">
  <div class="top-row">
    <div class="column-left">
      <div class="type">Series</div>
    </div>

    <div class="column-right">
      <h2 class="story-title">{{title}}</h2>
    </div>
  </div>

  <div class="bottom-row">
    <div class="column-left author-full-block">
      <img src="assets/img/profilePic.svg" class="author-pic"/>

      <div class="author-block">
        <h3 class="author-name">{{author}}</h3>
        <div class="post-date">{{date}}</div>
        <div class="pages">{{pagesInManuscript}} pages  &#183;   {{numberOfReaders}} beta readers</div>
      </div>
    </div>

    <div class="column-right">
      <div class="body-text">{{descriptionPart}}<span class="full-description hidden">{{descriptionFull}}</span></div>
      <div class="hide-gradient"></div>
      <h3 class="hidden instructions-title"> Instructions</h3>
      <div class="body-text instructions hidden">{{instructions}}</div>
       <div class="read-more" {{action "toggleMore" this}}> Read More&hellip; </div>
       <div class="story-tags">{{tags}}</div>
       <div class="bottom-icons">
         <img src="assets/img/addIcon.svg" class="icon"/>
         <img src="assets/img/tradeIcon.svg" class="icon"/>
         <img src="assets/img/downloadIcon.svg" class="icon"/>
       </div>
    </div>
  </div>
 </div>
