{{partial 'navbar'}}

<div id="critiques">
  <div id="critique-tabs">
    <ul>
      <li class="selected" id="current-link" {{action "toggle" "true"}} >Current Critiques</li>
      <li id="past-link" {{action "toggle" "false"}}>Past Critiques</li>
    </ul>
    <hr/>
  </div>

  <div id="current">
    {{critique-card}}
  </div>
  <div id="past" class="hidden">
    {{critique-card}}
    {{critique-card}}
  </div>

  {{partial 'footer'}}
</div>
