<div id="login">


{{#if session.isAuthenticated}}
  <button {{action 'logout'}}>Logout</button>
{{else}}
<nav id="login-nav">
  {{#link-to "matches" }}
    <img src="assets/img/logoFull.svg" id="logo"/>
    <img src="assets/img/logo.svg" id="logo-partial"/>
  {{/link-to}}
    <div id="sign-in-block">
      <div id="sign-in" {{action "toggleModal"}}>
        Sign in
      </div>
      or
      {{#link-to "signup" id="nav-sign-up"}} Sign up {{/link-to}}
    </div>
</nav>


<!-- Sign in modal -->
{{#if isShowingModal}}
{{#modal-dialog close="toggleModal" target="#sign-in" translucentOverlay=false targetAttachment='left'}}
    <div id="login-bits">
      <label for="email">Email</label>
      {{input type="text" value=email id="email" placeholder="Email"}}
      <label for="password">Password</label>
      {{input type="password" value=password id="password" placeholder="password"}}
      <button class="sign-in-button button-style" {{action "login"}}> Sign in </button>
      <!-- Not a member? {/{#link-to "signup" }/} Sign up{/{/link-to}/} -->
    </div>
  {{/modal-dialog}}
{{/if}}
  <div id="spacer"></div><!--
  --><div id="hero">
  </div><!--
  --><div id="hero-text">
    <h3 id="hero-tag">
      Improve your writing with insightful feedback
    </h3>
    <div id="tag-line">
      Second Read helps writers find skilled beta readers and readers find engaging novels to critique.
    </div>
    {{#link-to "signup" id="hero-sign-up" class="button button-style" }} Sign up for Second Read{{/link-to}}


  </div>
  <div id="wrapper">
    <div class="value-prop">
      <img src="assets/img/knowreader.png"/>
      <div class="value-prop-text">
        <h4>Get to know your reader</h4>
        <div class="point">
          It can be scary to hand your manuscript off to someone whom you’ve never met.
          Second Read allows you to collaborate with your reader on a critique of an
          excerpt of your story to get a feel for how the other person works and thinks.
        </div>
      </div>
    </div>

    <div class="value-prop">
      <img src="assets/img/fullnovel.png"/>
      <div class="value-prop-text">
        <h4>Critiques of your entire novel</h4>
        <div class="point">
          Single chapter critiques are limiting. A beta reader can give feedback on your entire novel.
        </div>
      </div>
    </div>

    <div class="value-prop">
      <img src="assets/img/match.png"/>
        <div class="value-prop-text">
          <h4>Match with readers</h4>
          <div class="point">
            Readers are automatically matched with novels that match their interests and
            experience.  Because they read what you write, they can provide better feedback.
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="login-bits">
    <label for="email">Email</label>
    {{input type="text" value=email id="email" placeholder="Email"}}
    <label for="password">Password</label>
    {{input type="password" value=password id="password" placeholder="password"}}
    <button {{action "login"}}> Login </button>
    Not a member? {{#link-to "signup" }} Sign up{{/link-to}}
  </div> -->
{{/if}}
{{render 'footer'}}
</div>
