{{partial 'navbar'}}
 {{#each model as |story|}}
 <div>
   <h3>{{story.pagesInManuscript}}</h3>
   <h2>{{story.title}}</h2>
   <h3>{{story.author}}</h3>
   <div>{{story.date}}</div>
   <div>{{story.tags}}</div>
   <div>{{story.pagesInManuscript}}</div>

   <div>{{story.description}}</div>
   <div>{{story.instructions}}</div>

   {{#link-to "critique" (query-params id=story.id)}}Read More{{/link-to}}
  </div>
{{else}}
  Nothing happened
{{/each}}
