{{partial 'navbar'}}

 <h1>Matches</h1>
 {{#each model as |story|}}
 <div>
   <h3>{{story.title}}</h3>
   <h4>{{story.author}}</h4>
   <div>{{story.description}}</div>
   <div>{{story.tags}}</div>

   {{#link-to "critique" (query-params id=story.id)}}Read More{{/link-to}}
  </div>
  {{else}}
  Nothing happened
  {{/each}}
