{{partial 'navbar'}}

 <h1>Projects</h1>
 {{#each project as |story|}}
   <h3>{{story.title}}</h3>
   <h4>{{story.author}}</h4>
   <div>{{story.description}}</div>
   <div>{{story.tags}}</div>
   <div>Read More</div>
  {{/each}}

{{outlet}}
