  <form>
    <div id="signup7" class="input-block block-3">
      <label for="description">Write a little about yourself.</label>
      {{textarea id="description" value=description cols="80" rows="6"}}
      <button {{action "signUp"}}>Finish</button>
    </div>

    <div id="signup6" class="input-block block-3">

      <label for="experience">How much experience do you have with critique?</label>
      {{drop-down options=experienceOptions id="experience" sendOptions="setExperience"}}

      <label for="hours">How many hours a week do you have for critique?</label>
      {{drop-down options=hoursOptions id="hours" sendOptions="setHours"}}

      <div class="next-button" {{action "nextBlock" 6}}> Next </div>
    </div>

    <div id="signup5" class="input-block block-3">
      <label for="years-writing">How many years have you been writing seriously?</label>
      {{input type="text" value=yearsWriting id="years-writing"}}

      <label for="draft-completion">How often do you finish drafts?</label>
      {{drop-down options=draftCompletionOptions id="draft-completion" sendOptions="setDraftCompletion"}}

      Have you ever published with a publishing house?
      {{#radio-button
        value="1"
        groupValue=published
        changed="setPublished"}}
        Yes
      {{/radio-button}}

      {{#radio-button
        value="0"
        groupValue=published
        changed="setPublished"}}
        No
      {{/radio-button}}

      <div class="next-button" {{action "nextBlock" 5}}> Next </div>
    </div>

    <div id="signup4" class="input-block block-3" >
      Do you write?
      {{#radio-button
        value="1"
        groupValue=writes
        changed="setWrites"}}
        Yes
      {{/radio-button}}

      {{#radio-button
        value="0"
        groupValue=writes
        changed="setWrites"}}
        No
      {{/radio-button}}

      <label for="genres-write">What genres do you write?</label>
      {{input type="text" value=genresWrite id="genres-write"}}

      <div class="next-button" {{action "nextBlock" 4}}> Next </div>
    </div>

    <div id="signup3" class="input-block block-2">
      <label for="genres-read">What genres do you read?</label>
      {{input type="text" value=genresRead id="genres-read"}}

      <label for="read-freq">How often do you read?</label>
      {{drop-down options=readFreqOptions id=read-freq sendOptions="setReadFreq"}}

      <label for="novel-length">What is your ideal novel length?</label>
      {{drop-down options=novelLengthOptions id="novel-length" sendOptions="setNovelLength"}}

      <div class="next-button" {{action "nextBlock" 3}}> Next </div>
    </div>

    <div id="signup2" class="input-block block-1">
      <label for="education">Highest Education Level</label>
      {{drop-down options=educationOptions id="education" sendOptions="setEducation"}}

      <div class="next-button" {{action "nextBlock" 2}}> Next </div>
    </div>

    <div id="signup1" class="input-block">
      <div class="block-number">1 of 7</div>
      <h3> Create an Account</h3>

      <label for="pen-name">Username</label>
      {{input type="text" value=name id="pen-name"}}

      <label for="email">Email</label>
      {{input type="text" value=email id="email"}}

      <label for="password">Password</label>
      {{input type="password" value=password id="password"}}

      <fieldset id="b-day">
        <legend>Birthday</legend>
          {{input type="text" value=day id="bday-day" class="thirds thirds-margin" placeholder="dd"}}
          {{input type="text" value=month id="bday-month" class="thirds thirds-margin" placeholder="mm"}}
          {{input type="text" value=year id="bday-year" class="thirds" placeholder="yyyy"}}
      </fieldset>

      <div class="next-button" {{action "nextBlock" 1}}> Next </div>
    </div>

  </form>
